[submodule "java-formula"]
	path = java-formula
	url = https://github.com/saltstack-formulas/java-formula.git
[submodule "mysql-formula"]
	path = mysql-formula
	url = https://github.com/saltstack-formulas/mysql-formula.git
[submodule "tomcat-formula"]
	path = tomcat-formula
	url = https://github.com/saltstack-formulas/tomcat-formula.git
[submodule "sun-java-formula"]
	path = sun-java-formula
	url = https://github.com/saltstack-formulas/sun-java-formula.git
