# --------------------------------------------
# wso2
# --------------------------------------------
wso2:
  emm:
    version: 1.1.0
    user: wso2
    group: users
  esb:
    version: 4.8.1
    user: wso2
    group: users

# --------------------------------------------
# zabbix
# --------------------------------------------

mysql:
  server:
    root_password: yourrootpassword
  user:
    zabbix:
      password: 'zabbixpassword'
      host: localhost
      databases:
        - database: zabbixdatabase
          grants: ['all privileges']
  database:
    - zabbix

zabbix:
  database_host: localhost
  database: zabbixdatabase
  database_user: zabbixuser
  database_password: zabbixpassword
  server_host: localhost
  server_name: MyZabbix
  
# --------------------------------------------
# oracle-java
# --------------------------------------------

oracle-java:
  java_home: '/usr/lib/jvm/java-6-oracle'

# --------------------------------------------
# go
# --------------------------------------------

go:
  version: '14.2.0-377'