# --------------------------------------------
# wso2
# --------------------------------------------
wso2:
  emm:
    version: 1.1.0
    user: wso2
    group: users
  esb:
    version: 4.8.1
    user: wso2
    group: users

# --------------------------------------------
# oracle-java
# --------------------------------------------

oracle-java:
  java_home: '/usr/lib/jvm/java-6-oracle'

# --------------------------------------------
# go
# --------------------------------------------

go:
  version: '14.2.0-377'