{# zabbix/map.jinja
   Set defaults for zabbix.* vars.  Overwrite with values from the pillar (if any)
#}

{% set zabbix = salt['grains.filter_by']( {
    'default': {
      'database': 'zabbix',
      'database_host': 'localhost',
      'database_user': 'zabbix',
      'database_password': 'zabbix',
      'server_host': 'localhost',
      'server_name': 'MyDefaultZabbix',
      'gmail_account': 'mygmailaccount@gmail.com',
      'gmail_password': 'mygmailpassword',
      'sender_name': 'Zabbix Alerts'
    },
  },
  merge=salt['pillar.get']('zabbix')
)
%}
